@model DecorUpdateVM
@{
    ViewData["Title"] = "Edit";
}
@section Css{
    <link rel="stylesheet" href="~/admin/assets/css/index.css">
}
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-12">
                <div class="image "><img src="~/assets/images/@Model.Image" style="width: 200px; height: 200px" /></div>
                <div class="image "><img src="~/assets/images/@Model.HoverImage" style="width: 200px; height: 200px" /></div>

                <form method="post" enctype="multipart/form-data" asp-action="Edit">
                    <span class="text-danger">@ViewBag.error</span>
                    <div class="form-group">
                        <label>Main Image</label>
                        <input type="file" class="form-control" asp-for="MainPhoto">
                    </div>
                    <div class="form-group">
                        <label>Hover Image</label>
                        <input type="file" class="form-control" asp-for="HoverPhoto">
                    </div>
                    <button type="submit" class="btn btn-success"><i class="feather mr-2 icon-check-circle"></i>Submit</button>
                    <a asp-action="Index" class="btn btn-danger"><i class="feather mr-2 icon-check-circle"></i>Cancel</a>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/Admin/src/js/index.js"></script>
}




