@inject UserManager<AppUser> userManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>Calla-Admin</title>

    <!-- Bootstrap -->
    <link href="~/Admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Admin/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Admin/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="~/Admin/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/Admin/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/Admin/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @await RenderSectionAsync("Css",required:false)
    <!-- Custom Theme Style -->
    <link href="~/Admin/build/css/custom.css" rel="stylesheet">
    <link href="~/Admin/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Admin panel</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-bar-chart"></i> Dashboard <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" asp-route-viewName="Index" asp-route-controllerName="Dashboard">Dashboard</a></li>
                                        <li><a asp-area="Admin" asp-controller="User" asp-action="Index">Users</a></li>
                                        <li><a asp-area="Admin" asp-controller="Subscribe" asp-action="Index">Subscribes</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-area="Admin" asp-controller="Slider" asp-action="Index">Slider</a></li>
                                        <li><a asp-area="Admin" asp-controller="Banner" asp-action="Index">Banner</a></li>
                                        <li><a asp-area="Admin" asp-controller="Advertising" asp-action="Index">Advertising</a></li>
                                        <li><a asp-area="Admin" asp-controller="Decor" asp-action="Index">Decor</a></li>
                                        <li><a asp-area="Admin" asp-controller="MiniImage" asp-action="Index">Mini Images</a></li>
                                        <li><a asp-area="Admin" asp-controller="Team" asp-action="Index">Team</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-shopping-cart"></i> Shop <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a></li>
                                        <li><a asp-area="Admin" asp-controller="ProductComment" asp-action="Index">Product's comment</a></li>
                                        <li><a asp-area="Admin" asp-controller="Tag" asp-action="Index">Tag</a></li>
                                        <li><a asp-area="Admin" asp-controller="Size" asp-action="Index">Size</a></li>
                                        <li><a asp-area="Admin" asp-controller="Color" asp-action="Index">Color</a></li>
                                        <li><a asp-area="Admin" asp-controller="Brand" asp-action="Index">Brand</a></li>
                                        <li><a asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-info-circle"></i> About <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-area="Admin" asp-controller="About" asp-action="Index">About</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-book"></i> Blog <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-area="Admin" asp-controller="Author" asp-action="Index">Author</a></li>
                                        <li><a asp-area="Admin" asp-controller="Blog" asp-action="Index">Blog</a></li>
                                        <li><a asp-area="Admin" asp-controller="BlogComment" asp-action="Index">Blog's comment</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-phone"></i> Contact <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-area="Admin" asp-controller="Contact" asp-action="Index">Contact</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-wrench"></i> Layout <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-area="Admin" asp-controller="HeaderBackground" asp-action="Index">Header/Background</a></li>
                                        <li><a asp-area="Admin" asp-controller="Setting" asp-action="Index">Setting</a></li>
                                        <li><a asp-area="Admin" asp-controller="WebSiteSocial" asp-action="Index">Web Site Social</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right" @*style="display: flex; justify-content: end; align-items: center;"*@>
                            <li class="nav-item dropdown open" style="display: flex; justify-content: end; align-items: center;">
                                @if (!User.Identity.IsAuthenticated)
                                {

                                    <div class="login">
                                        <button style="border: none; color: #60748a; background: transparent; margin-left: 15px; font-size: 15px;" type="submit">
                                            Login
                                        </button>
                                    </div>
                                }
                                else
                                {
                                    <h4>
                                        @userManager.Users.FirstOrDefault(u=>u.UserName==User.Identity.Name).FirstName @userManager.Users.FirstOrDefault(u=>u.UserName==User.Identity.Name).LastName

                                    </h4>
                                    <form asp-controller="Account" asp-action="AdminLogin" asp-route-userId="@userManager.Users.Where(u=>u.UserName==User.Identity.Name).FirstOrDefault().Id" method="post">
                                        <div class="logout">
                                            <button style="border: none; color: #60748a; background: transparent; margin-left: 15px; font-size: 15px;" type="submit">Logout</button>
                                        </div>
                                    </form>
                                }
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- page content -->

        </div>
    </div>

    <!-- jQuery -->
    <script src="~/Admin/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Admin/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/Admin/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Admin/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/Admin/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/Admin/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Admin/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/Admin/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/Admin/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/Admin/vendors/Flot/jquery.flot.js"></script>
    <script src="~/Admin/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/Admin/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/Admin/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/Admin/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/Admin/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Admin/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Admin/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/Admin/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/Admin/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/Admin/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Admin/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Admin/vendors/moment/min/moment.min.js"></script>
    <script src="~/Admin/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/Admin/build/js/custom.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
