@model ForgotPasswordVM
@{
    ViewData["Title"] = "ForgotPassword";
}

<main>
    <section id="forgot-form">
        <div class="container shadow">
            <form method="post" asp-controller="Account" asp-action="ForgotPassword">
                <div class="forgot-content">
                    <div class="forgot">
                        <h2>Forgot Password</h2>
                    </div>
                    <div class="label" style="text-align: left;">
                        <label for="">Email *</label>
                    </div>
                    <div class="input">
                        <input type="email" asp-for="Email">
                    </div>
                    <div class="send-button">
                        <button type="submit">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}