@model LoginVM
@inject ILayoutService headerBackground

@{
    ViewData["Title"] = "Login";
}

<main>
    <section id="login-header-img">
        <div class="login-bg-img" style="background-image: url(../../assets/images/@headerBackground.GetHeaderBackgroundData()["LoginBg"])">
            <h1>Login</h1>
            <img src="./assets/images/banner-on-logo.png" alt="">
        </div>
    </section>
    <section id="login-form">
        <div class="container shadow">
            <div style="display: flex; position: relative; top: 20px;" class="text-danger" asp-validation-summary="All"></div>
            <form method="post" asp-action="Login">
                <div class="login-content">
                    <div class="login">
                        <h2>Welcome to CALLA</h2>
                    </div>
                    <div class="label">
                        <label for="">Username or email address *</label>
                    </div>
                    <div class="input">
                        <input type="email" asp-for="EmailOrUsername"  />
                        <span style=" position: absolute;top: 45px;left: 0px;font-size: 12px;" class="text-danger" asp-validation-for="EmailOrUsername"></span>
                    </div>
                    <div class="label">
                        <label for="">Password *</label>
                    </div>
                    <div class="input password">
                        <input asp-for="Password" />
                        <i class="fa-regular fa-eye eyes"></i>
                        <span style=" position: absolute;top: 45px;left: 0px;font-size: 12px;" class="text-danger" class="text-danger" asp-validation-for="Password"></span>

                    </div>
                    <div class="remember-login">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  asp-for="IsRememberMe" id="form2Example31"  />
                            <label style="color: #00000078;" class="form-check-label" for="form2Example31">
                                Remember me
                            </label>
                        </div>

                        <div class="login-button">
                            <button type="submit" class="btn btn-custom-size lg-size btn-pronia-primary">LOG IN</button>
                        </div>
                    </div>
                    <div class="forgot-password">
                        <a asp-controller="Account" asp-action="ForgotPassword">Forgot Password?</a>
                    </div>
                    <div class="account">
                        <div class="dont-account">
                            <p>Don't have an account?</p>
                        </div>
                        <div class="register">
                            <a asp-controller="Account" asp-action="Register">Register</a>
                        </div>
                    </div>
                </div>
            </form>


        </div>


    </section>

</main>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}