@model RegisterVM
@inject ILayoutService headerBackground
@{
    ViewData["Title"] = "Register";
}

<main>
    <section id="register-header-img">
        <div class="register-bg-img" style="background-image: url(../../assets/images/@headerBackground.GetHeaderBackgroundData()["RegisterBg"])">
            <h1>Register</h1>
            <img src="./assets/images/banner-on-logo.png" alt="">
        </div>
    </section>

    <section id="register-form">
        <div class="container shadow">
            <div class="text-danger" style=" text-align: left; position: relative; right: 0px; top: 30px;" asp-validation-summary="All"></div>
            <form method="post" asp-action="Register">
                <div class="register-content">
                    <div class="register">
                        <h2>Create a new account</h2>
                    </div>
                    <div class="label">
                        <label for="">First Name *</label>
                    </div>
                    <div class="input">
                        <input asp-for="FirstName">
                        <span style=" position: absolute;top: 45px;left: 0px;font-size: 12px;" class="text-danger" asp-validation-for="FirstName"></span>
                    </div>
                    <div class="label">
                        <label for="">Last Name *</label>
                    </div>
                    <div class="input">
                        <input asp-for="LastName" />
                        <span style=" position: absolute;top: 45px;left: 0px;font-size: 12px;" class="text-danger" asp-validation-for="LastName"></span>
                    </div>
                    <div class="label">
                        <label for="">Email Address *</label>
                    </div>
                    <div class="input">
                        <input asp-for="Email" />
                        <span style=" position: absolute;top: 45px;left: 0px;font-size: 12px;" class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="label">
                        <label for="">Password *</label>
                    </div>
                    <div class="input password">
                        <input asp-for="Password" />
                        <i class="fa-regular fa-eye eyes"></i>
                        <span style=" position: absolute;top: 45px;left: 0px;font-size: 12px;" class="text-danger" asp-validation-for="Password"></span>

                    </div>
                    <div class="label">
                        <label for="">Confirm Password *</label>
                    </div>
                    <div class="input comfirm-password">
                        <input asp-for="ConfirmPassword" />
                        <i class="fa-regular fa-eye eyes"></i>
                        <span style=" position: absolute;top: 45px;left: 0px;font-size: 12px;" class="text-danger" asp-validation-for="ConfirmPassword"></span>
                    </div>

                    <div class="register">
                        <div class="register-button">
                            <button type="submit" class="btn btn-custom-size lg-size btn-pronia-primary">Register</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
 @*   <script src="~/assets/js/register.js"></script>*@
  @*  <script src="~/assets/js/common.js"></script>*@
}