@model List<WishlistDetailVM>
@inject ILayoutService headerBackground
@{
    ViewData["Title"] = "Wishlist";
}

<!-- Main star -->
<main>
    <section id="wishlist-header-img">
        <div class="wishlist-bg-img" style="background-image: url(../../assets/images/@headerBackground.GetHeaderBackgroundData()["PagesBg"])">
            <h1>WISHLIST</h1>
            <img src="~/assets/images/banner-on-logo.png" alt="">
        </div>
    </section>
    <section id="wishlist-product">
        <div class="container">
            <div class="wishlist-products">
                @if(Model.Count > 0)
                {
                    <table class="table wishlist-table">
                        <thead>
                            <tr>
                                <th scope="col">Image</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Setting</th>
                            </tr>

                        </thead>
                        <tbody class="wishlist-table-body">
                            @foreach (var item in Model)
                            {
                                <tr data-id="@item.Id">

                                    <td>
                                        <img src="~/assets/images/@item.Image" alt="">
                                    </td>
                                    <td>
                                        <span>@item.Name</span>
                                    </td>
                                    <td>
                                        <span>£</span><span>@item.Price.ToString("0.00")</span>
                                    </td>
                                    <td class="product_remove">
                                        <i class="fa-solid fa-trash-can delete-wishlist" style="cursor: pointer"></i>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="cantinue-btn d-flex justify-content-between ">
                        <a class="btn btn-primary shop" style="padding: 12px;" asp-controller="Shop" asp-action="Index">Continue shopping</a>
                    </div>
                }
                else
                {
                    <div class="show-alert">
                        <div class="alert">
                            <button class="btn btn-danger btn-red">YOU HAVE NO ITEMS IN YOUR WISHLIST.</button>
                        </div>
                        <div class="button-shop">
                            <button style="border-radius: 5px;    background-color: #b97a56; border: none;margin-bottom: 15px;" class="btn btn-primary btn-orange">
                                Continue shopping
                            </button>
                        </div>

                    </div>
                }

            </div>

            <div class="show-alert d-none">
                <div class="alert">
                    <button class="btn btn-danger btn-red">YOU HAVE NO ITEMS IN YOUR WISHLIST.</button>
                </div>
                <div class="button-shop">
                    <button class="btn btn-primary btn-orange">Continue shopping</button>
                </div>

            </div>


        </div>
    </section>

</main>
<!-- Main end -->
